<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chinaunicom.platform.dao.BilltempletBMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chinaunicom.platform.entity.BilltempletB">
        <id column="pk_billtemplet_b" property="pkBilltempletB" />
        <result column="pk_billtemplet" property="pkBilltemplet" />
        <result column="item_type" property="itemType" />
        <result column="item_type_desc" property="itemTypeDesc" />
        <result column="accuracy" property="accuracy" />
        <result column="max" property="max" />
        <result column="min" property="min" />
        <result column="show_name" property="showName" />
        <result column="defaultvalue" property="defaultvalue" />
        <result column="dr" property="dr" />
        <result column="editflag" property="editflag" />
        <result column="inputlength" property="inputlength" />
        <result column="itemkey" property="itemkey" />
        <result column="show_flag" property="showFlag" />
        <result column="null_flag" property="nullFlag" />
        <result column="select_type" property="selectType" />
        <result column="showorder" property="showorder" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="def1" property="def1" />
        <result column="def2" property="def2" />
        <result column="def3" property="def3" />
        <result column="def4" property="def4" />
        <result column="def5" property="def5" />
        <result column="def6" property="def6" />
        <result column="def7" property="def7" />
        <result column="def8" property="def8" />
        <result column="def9" property="def9" />
        <result column="def10" property="def10" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pk_billtemplet, pk_billtemplet_b, item_type, item_type_desc, accuracy, max, min, show_name, defaultvalue, dr, editflag, inputlength, itemkey, show_flag, null_flag, select_type, showorder, create_time, update_time, creator, modifier, def1, def2, def3, def4, def5, def6, def7, def8, def9, def10
    </sql>
    
    <select id = "queryBillTemplateBListByParentId" resultType="cn.chinaunicom.platform.entity.BilltempletB" >
    	SELECT
			item_type itemType,
			accuracy,
			max,
			min,
			show_name showName,
			defaultvalue,
			editflag,
			inputlength,
			itemkey,
			show_flag showFlag,
			null_flag nullFlag,
			select_type selectType,
			showorder 
		FROM
			pub_billtemplet_b 
		WHERE
			pk_billtemplet = ( SELECT pk_billtemplet FROM pub_billtemplet WHERE pk_billtypecode = #{billTypeCode} ) 
		ORDER BY
			showorder
    </select>
    
    
    <select id = "queryRefSelectDataByBillTypeCode" resultType = "cn.chinaunicom.defdoc.entity.HadesLookups">
	    SELECT DISTINCT
			meaning,
			lookup_code,
			lookup_type 
		FROM
			hades_lookups 
		WHERE
			lookup_type IN (
		SELECT
			select_type selectType 
		FROM
			pub_billtemplet_b 
		WHERE
			pk_billtemplet = ( SELECT pk_billtemplet FROM pub_billtemplet WHERE pk_billtypecode = #{billTypeCode} ) 
			AND item_type = 'Select' 
			AND select_type IS NOT NULL 
			) 
			AND enabled_flag = 'Y' 
		ORDER BY
			lookup_type
    </select>

</mapper>
